
@{
    Layout = "~/Views/Shared/DiseñoAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administracion</title>
</head>
<body>
    <div> 
        <h1>Super fit administracion</h1>
    </div>
</body>
</html>
